@{title(CONF.title)}

@{section meta}
	@{view('partial-meta')}
@{end}
@{section menu}
	@{view('partial-menu')}
@{end}

<div class="container">
  <h1>@{CONF.title}</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <hr>
  <select id="filterby" onchange="setFilterBy(this)" class="smooth space-right"></select>
  <select id="filter" onchange="setFilter(this)" class="smooth space-right" style="display: none;"></select>
  <input id="ifilter" type="text" class="smooth space-right"  style="display: none;" placeholder="NPWP / Nama Perusahaan">
  <input id="search" type="text" style="width:50%;" class="smooth" placeholder="input & enter"><span class="addon" onclick="submitSearch()" title="Pencarian"><i class="mdi mdi-magnify"></i></span>
  <div id ="onprogress"></div>
  <div id="app"></div>
</div>

@{section footer}
  @{view('partial-footer')}
@{end}

@{section js}
  @{view('partial-js')}
  <script type="text/javascript" src="@{CONF.baseAssetsUrl}/assets/js/app.js"></script>
@{end}