<!-- Bulma is included -->
<link rel="stylesheet" href="@{CONF.baseAssetsUrl}/assets/css/mincss/min.css">
<!-- Fonts -->
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
<style>
  @media screen and (max-width: 600px) {
    table {
      border:0
    }
    table thead {
      display:none
    }
    table tr {
      margin-bottom:10px;
      display:block;
      border-bottom:2px solid #ddd
    }
    table td {
      display:block;
      text-align:right !important;
      font-size:13px;
      border-bottom:1px dotted #ccc
    }
    table td:last-child {
      border-bottom:0
    }
    table td:before {
      content:attr(data-label);
      float:left;
      font-weight:700
    }
  }
  .pull-left {
    position: relative;
    left: 0px;
  }
  .pull-right {
    position: relative;
    float: right;
  }
  .footer {
    margin-top: 1.5rem;
  }
</style>