<script type="text/javascript" src="@{CONF.baseAssetsUrl}/assets/js/dom-js/dom.min.js"></script>
<script type="text/javascript" src="@{CONF.baseAssetsUrl}/assets/js/ajax/ajax.min.js"></script>
<script type="text/javascript" src="@{CONF.baseAssetsUrl}/assets/js/reef/reef.min.js"></script>
<script type="text/javascript" src="@{CONF.baseAssetsUrl}/assets/js/reef/reef.polyfills.min.js"></script>
<script type="text/javascript" src="@{CONF.baseAssetsUrl}/assets/js/native-form-validation/formvalidation.min.js"></script>

<!-- To make load performance faster, icons are put at very below. -->
<link rel="stylesheet" href="@{CONF.baseAssetsUrl}/assets/fonts/mdi-font/css/materialdesignicons.min.css">