<!-- Bulma is included -->
<link rel="stylesheet" href="@{CONF.baseAssetsUrl}/assets/css/mincss/min.css">
<!-- Fonts -->
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
<style>
  @media screen and (max-width: 1024px) {
    table {
      border:0
    }

    table thead {
      display:none
    }

    table tr {
      margin-bottom:10px;
      display:block;
      border-bottom:2px solid #ddd
    }

    table td {
      display:block;
      text-align:right !important;
      font-size:13px;
      border-bottom:1px dotted #ccc
    }

    table td:last-child {
      border-bottom:0
    }

    table td:before {
      content:attr(data-label);
      float:left;
      font-weight:700
    }
  }

  .pull-left {
    position: relative;
    left: 0px;
  }

  .pull-right {
    position: relative;
    float: right;
  }

  .footer {
    margin-top: 1.5rem;
  }

  .space-left {
    margin-left: 5px;
  }

  .space-right {
    margin-right: 5px;
  }

  .space-top {
    margin-top: 5px;
  }

  .space-bottom {
    margin-bottom: 5px;
  }
  
  message {
    display: block;
    padding: 2em;
    background: #def;
    border-left: 5px solid #44e;
  }

  .danger {
    border-color: #e44; 
    background: #fdd;
  }

  .warning {
    border-color: #fd5;
    background: #f8e69e;
  }

  .success {
    border-color: #2d2;
    background: #dfd;
  }
  
  .badge {
    padding: 5px;
  	line-height: 30px;
  }

  .badge-danger {
    background: #f14668; 
    color: #fff;
  }

  .badge-warning {
    background: #ffdd57;
    color: #000;
  }

  .success {
    background: #48c774;
    color: #fff;
  }
</style>